<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>博客登录</title>
    <link th:href="@{/static/css/login.css}" rel="stylesheet" type="text/css"/>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/public.css}">
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/public.js}"></script>
<script th:src="@{/static/js/blog/login.js}"></script>
<script th:src="@{/static/js/common.js}"></script>
<script th:src="@{/static/js/global.js}"></script>
<body>
    <div class="dowebok">
        <div class="logo"></div>
        <p class="tip3" id="loginError"></p>
        <div class="form-item">
            <input id="username" type="text" autocomplete="off" placeholder="请输入账号/邮箱号/手机号">
            <p class="tip1">账号不能为空</p>
        </div>
        <div class="form-item">
            <input id="password" type="password" autocomplete="off" placeholder="请输入登录密码">
            <p class="tip2">密码不能为空</p>
        </div>
        <div class="form-item"><button onclick="submitBlog()">登 录</button></div>
        <div class="reg-bar">
            <a class="reg" href="/login/register" target="_blank">立即注册</a>
            <a class="forget" href="http://www.baidu.com" target="_blank">忘记密码</a>
        </div>
    </div>
</body>
</html>

<!--提交后提示信息-->
<div class="pop" id="tips">
    <div class="pop-centet tips" style="width: 550px">
        <div class="pop-head">
            <h3>提示</h3>
            <i class="close"></i>
        </div>
        <div class="pop-body">
            <p id="tips-text" class="line-feed">
            </p>
        </div>
        <div class="pop-foot">
            <div class="bnt-goup">
                <a class="none blue">关闭</a>
            </div>
        </div>
    </div>
</div>

<!--提示信息点击关闭后跳转链接-->
<div class="pop" id="tipsReload">
    <div class="pop-centet tips" style="width: 550px">
        <div class="pop-head">
            <h3>提示</h3>
            <i class="close" onclick="loginIndexHtml()"></i>
        </div>
        <div class="pop-body ">
            <p id="tipsReload-text" class="line-feed">
            </p>
        </div>
        <div class="pop-foot">
            <div class="bnt-goup">
                <a class="none blue" onclick="loginIndexHtml()">关闭</a>
            </div>
        </div>
    </div>
</div>