<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>博客登录</title>
    <link th:href="@{/static/css/login.css}" rel="stylesheet" type="text/css"/>
</head>
<link th:src="@{/static/js/jquery.min.js}" rel="stylesheet">
<script th:src="@{/static/js/common.js}"></script>
<body>
    <div class="dowebok">
        <div class="logo"></div>
        <div class="form-item">
            <input id="username" type="text" autocomplete="off" placeholder="账号">
            <p class="tip">请输入正确的账号</p>
        </div>
        <div class="form-item">
            <input id="password" type="password" autocomplete="off" placeholder="登录密码">
            <p class="tip">邮箱或密码不正确</p>
        </div>
        <div class="form-item"><button id="submit">登 录</button></div>
        <div class="reg-bar">
            <a class="reg" href="/login/register" target="_blank">立即注册</a>
            <a class="forget" href="http://www.baidu.com" target="_blank">忘记密码</a>
        </div>
    </div>
    <script>
        $(function () {
            $('input').val('')
            $('#submit').on('click', function () {
                $('.tip').show()
            })
        })
    </script>
</body>
</html>