.tip4 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip5 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip6 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip7 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip8 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip9 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip10 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip11 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip12 { display: none; position: absolute; left: 0px; top: 52px; font-size: 14px; color: red; }
.tip13 { display: none; position: absolute; left: 0px; top: 52px; font-size: 15px; color: red; }
.tip14 { display: none; position: absolute; left: 40px; top: 465px; font-size: 14px; color: red; }