<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="common">
<!--提交后提示信息-->
<div class="pop" id="tips">
    <div class="pop-centet tips" style="width: 550px">
        <div class="pop-head">
            <h3>提示</h3>
            <i class="close"></i>
        </div>
        <div class="pop-body">
            <p id="tips-text" class="line-feed">
            </p>
        </div>
        <div class="pop-foot">
            <div class="bnt-goup">
                <a class="none blue">关闭</a>
            </div>
        </div>
    </div>
</div>

<!--提交后提示数据量较大的信息-->
<div class="pop" id="maxTips">
    <div class="pop-centet tip max">
        <div class="pop-head">
            <h3>提示</h3>
            <i class="close"></i>
        </div>
        <div class="pop-body ">
            <p id="maxTips-text" class="line-feed">
            </p>
        </div>
        <div class="pop-foot">
            <div class="bnt-goup">
                <a class="none blue">关闭</a>
            </div>
        </div>
    </div>
</div>

<!--提示信息点击关闭后跳转链接-->
<div class="pop" id="tipsReload">
    <div class="pop-centet tips" style="width: 550px">
        <div class="pop-head">
            <h3>提示</h3>
            <i class="close" onclick="reloadCommonHtml()"></i>
        </div>
        <div class="pop-body ">
            <p id="tipsReload-text" class="line-feed">
            </p>
        </div>
        <div class="pop-foot">
            <div class="bnt-goup">
                <a class="none blue" onclick="reloadCommonHtml()">关闭</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>