<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="she.why.mapper.ArticleDetailMapper">

    <select id="queryArticleDetail" parameterType="java.lang.String" resultType="she.why.entity.ArticleDetailEntity">
        select *
        from
        article_detail
        where
        blog_detail_id = #{blogDetailId};
    </select>

</mapper>