<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="she.why.mapper.ArticleDetailMapper">

    <select id="queryArticleDetail" resultType="she.why.entity.BlogArticleEntity">
        select *
        from
        blog_article
        where 1=1
        <if test="blogDetailId != null and !blogDetailId.isEmpty()">
        and blog_detail_id = #{blogDetailId}
        </if>
        <if test="label != null and !label.isEmpty()">
        and label like '%${label}%'
        </if>
        LIMIT 1
    </select>

</mapper>