<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="she.why.mapper.ArticleDetailMapper">

    <select id="queryArticleDetail" resultType="she.why.entity.BlogArticleEntity">
        select *
        from
        blog_article
        where
        blog_detail_id = #{blogDetailId}
    </select>

    <update id="updateReadNumToBlogArticle" parameterType="java.lang.String">
        update
        blog_article
        set
        read_number = #{readNumber}
        where
        blog_detail_id = #{blogDetailId}

    </update>

</mapper>