<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="she.why.mapper.BlogArticleMapper">

    <select id="queryIndexDetail" parameterType="java.lang.String" resultType="she.why.entity.BlogArticleEntity">
        SELECT *
        FROM
        blog_article
        where 1=1
        <if test="label != null and label !=''">
        and label like "%"#{label,jdbcType=VARCHAR}"%"
        </if>
        ORDER BY
        create_date
    </select>

</mapper>